@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Days One";
  src: url("./font/days-one/DaysOne-Regular.ttf");
}
*{
  /* border: 1px solid yellow; */
}
@layer base {
  :root {
    font-family: "Darker Grotesque", sans-serif;

    color: rgba(255, 255, 255, 0.87);

    --primary-color: #37545C;

    --navbar-bg-color: #252525;
    --navbar-link-color: #ffffff;
    --navbar-link-active-bg-color: #37545c;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .navbar_bg_shadow {
    box-shadow: inset 4px 4px 4px 0px #4a6b74;
  }
  .blob {
    /* Vector */
    position: absolute;
    left: 27.48%;
    right: 29.32%;
    top: 5.42%;
    bottom: 26.86%;

    /* background: linear-gradient(180deg, #30484f 0%, #1a282f 100%); */
  }
  .frame {
    position: absolute;
    left: 79.28%;
    right: -3.42%;
    top: 23.94%;
    bottom: 47.94%;

    background: linear-gradient(180deg, #30484f 0%, #1a282f 100%);
  }
  .banner_bg {
    background: linear-gradient(90deg, rgba(29, 26, 23, 0.3) -0.98%, rgba(10, 9, 8, 0) 45.86%, rgba(29, 26, 23, 0.3) 107.97%);
  }
}

#root {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  /* position: relative; */
  /* text-align: center; */
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  width: 100%;
  min-height: 100dvh;
  background-color: #000000;
}

/* Frame 1618873185 */

/* Rectangle 34625795 */






